<!DOCTYPE html>
<html>
<head>
  <title>SlamBook</title>
  <%= favicon_link_tag 'users.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container-fluid">
    <%= yield %>
  </div>
  <%= render 'layouts/friends_list' %>
  <script type="text/javascript">
    $("form.navbar-form input.search-anything").freeSearch();
  </script>
</body>
</html>
